html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
}

#admin{
	background: #278599;
	width: 100vw;
	height: 100vh;
}
nav {
	background-color: #278599;
	width: 100%;
	text-align: center;
	border-bottom: 5px solid #fff;
	position: fixed;
	z-index: 9;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	display: inline-block;
}
nav a {
	color: #000;
	text-decoration: none;
	font-family: 'Mosk', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 15px;
	letter-spacing: 2px;
}
nav a:hover, nav a.active {
	color: #fff;
}
nav a img#nav-logo {
	height: 48px;
	vertical-align: middle;
	margin-right: 30px;
}
nav li.icon {
	display: none;
}
header { 
	background-image: url(images/header.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
}
header img#main-logo {
	margin: 75px auto 0 auto;
	width: 100%;
	max-width: 550px;
}
header .content { 
	text-align: center; 
}
header h1 {
	font-size: 48px;
	text-transform: uppercase;
	font-family: 'Mosk', sans-serif;
	color: #3C404A;
	margin: -30px auto 0 auto;
	letter-spacing: 5px;
}
#about {
	background-image: url(images/about.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
#about .content { 
	overflow: auto;
}
#about h1 {
	font-family: 'Mosk', sans-serif;
	color: #787B8C;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 3px;
}
#about .content {
	margin: auto;
	padding: 80px 0 0 0;
	width: 100%;
	max-width: 1010px;
}
#about .border1 {
	border: 6px solid #992727;
	padding: 20px 30px;
	width: 280px;
}
#about .border2 {
	border: 6px solid #992727;
	padding: 20px 30px 0 30px;
	margin: -45px 0 0 -20px;
	width: 280px;
}
#about p { 
	color: #787B8C;
	font-family: 'Mosk', sans-serif;
	font-weight: 500;
	text-align: justify;
	line-height: 22px;
	width: 270px;
}
#about .left h2 {
	font-family: 'Mosk', sans-serif;
	font-size: 28px;
	color: #3F434D;
	font-weight: 500;
	margin: 0 0 20px 80px;
}
#about h2 span {
	color: #29869A;
}
#about .left { 
	float: left;
	width: 368px;
}
#about .right {
	float: left;
	margin: 80px 0 0 50px;
	width: 590px;
}
#about .right .photo h2 {
	color: #29869A;
	font-family: 'Mosk', sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	margin: 5px 0;
}
#about .right .photo.a { 
	float: left;
}
#about .right .photo img {
	width: 290px;
	border: 5px solid #B8C1C9;
}
#about .right p.a {
	border: 5px solid #B8C1C9;
	border-left: none;
	float: left;
	margin: 52px 0 0 0;
	padding: 10px;
	width: 260px;
}
#about .right .photo.b { 
	float: right;
}
#about .right p.b {
	border: 5px solid #B8C1C9;
	border-right: none;
	float: left;
	margin: 60px 0 0 5px;
	padding: 10px;
	width: 260px;
}
#about .right .photo.c {
	clear: both;
}
#about .right .photo.c img {
	height: 195px;
	width: 275px;
	margin: 0 2px;
}
#about .right p.c {
	width: 542px;
	border: 5px solid #B8C1C9;
	padding: 15px;
	margin: 5px 0 0 0;
}
.right .slider {
	position: relative;
	overflow: hidden;
	height: 530px;
	width: 590px;
}
.right .slider ul.content-slides {
	margin: 0;
	padding: 0;
	width: 1200px;
	list-style-type: none;
	position: absolute;
}
.right .slider ul.content-slides li {
	float: left;
	display: block;
}
.slider .content-pagination {text-align: center; margin: 515px 0 0 -40px; }
.slider .content-pagination li {float: none; display: inline; font-size: 0.5em; padding: 0.25em;}
.slider .content-pagination li a {width: 10px; height: 10px; border-radius: 10px; background-color: #ccc; overflow: hidden; line-height: 10px; font-size: 1px; text-indent: -999em; display: inline-block; *display: inline; *zoom: 1;}
.slider .content-pagination li.active-marker a,
.slider .content-pagination li a:hover {background-color: #08c; color: #fff;}
@media screen and (max-width: 1025px) {
	#about .content .left {
		margin: auto;
		float: none;
	}
	#about h1 {
		text-align: center;
	}
	#about .content .right {
		margin: auto;
		float: none;
	}
	#about .content .right h2 {
		margin: 50px 0 10px 0 ;
	}
	#about .right p.a {
		margin: 100px 0 0 0;
	}
	#about .right p.b {
		margin: 75px 0 0 5px;
	}
	#about .right .photo.b h2 {
		margin: 15px 0 10px 0;
	}
	.slider {
		padding-bottom: 80px;
	}
	.slider .content-pagination { 
		margin: 580px 0 0 -40px; 
	}
}
@media screen and (max-width: 840px) {
	nav {
		border: none;
	}
	ul.topnav { 
		text-align: left; 
		padding: 0;
		margin: 0;
	}
	ul.topnav li:not(:first-child) {
		display: none;
	}
	ul.topnav li:first-child {
		float: left;
		display: block;
		margin: 0;
		padding: 10px 0;
	}
	ul.topnav li.icon {
		display: block;
		float: right;
		padding: 20px 0;
	}
	ul.topnav.responsive { 
		margin: 0;
		padding: 0;
		position: relative; 
	}
	ul.topnav.responsive li.icon {
		float: right;
		position: absolute;
		top: 0;
		right: 0;
	}
  ul.topnav.responsive li {
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 620px) {

}

#contact{
	background-image: url(images/contactusbackgroundpicture.jpg);
	background-size: 100% 100%;
	margin: 0 auto;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

#contact .contactcontainer{
	max-width: 314px !important;
}

#contactinfo{
	color: #4a4e57;
	margin-bottom: 12px;
	text-align: center;
	font-family:'Mosk', sans-serif;
	font-size: 14px;
}

#contact h1{
	font-size: 40px;
	color: #3a3e48;
	text-align: center;
	font-family: 'Mosk', sans-serif;
	margin-bottom: 0px;
}

#contact ::-webkit-input-placeholder{
	color: #278599;
	font-family: 'Mosk', sans-serif;
}

#contact :-moz-placeholder{
	color: #278599;
	font-family: 'Mosk', sans-serif;
}

#contact ::-moz-placeholder{
	color: #278599;
	font-family: 'Mosk', sans-serif;
}

#contact :-ms-input-placeholder{
	color: #278599;
	font-family: 'Mosk', sans-serif;
}

#contact textarea{
	text-align: left;
	border: 2px solid;
	border-color: #278599;
	border-width: thin;
	resize: none;
	height: 191px;
	width: 298px;
	margin-bottom: 10px;
	padding-left: 10px;
	font-family: 'Mosk', sans-serif;
	font-size: 12px;
}

#contact input{
	text-align: left;
	border: 2px solid;
	border-color: #278599;
	border-width: thin;
	height: 25px;
	width: 300px;
	margin-bottom: 5px;
	padding-left: 10px;
	font-family: 'Mosk', sans-serif;
	font-size: 12px;
}

#contact .contactcontainer input[type=submit]{
	background-color: #278599 !important;
	border-color: #FFF !important;
	border-width: thin;
	color: #FFF;
	width: 70px;
	height: 33px;
	float: right;
	font-size: 13px;
	text-align:center !important;
	padding-left: 5px !important;
	font-family: 'Mosk', sans-serif;
}

#contacticons{
	display:table;
	display:table-row;
}

#contacticons .iconfacebook{
	float:left;
	overflow:hidden;
	padding: 0px 5px 0px 5px;
}

#contacticons .icontwitter{
	float:left;
	overflow:hidden;
	padding: 0px 5px 0px 5px;
}

/*---FAQs---*/

#faqs {
	background-image: url(images/5-FAQS.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#faqs .content {
	width: 100%;
	padding: 0 0 0 900px;
	
} 
#faqs .content p { 
	color: #787B8C;
	font-family: 'Mosk', sans-serif;
	font-weight: 500;
	font-size: 50px;
        line-height: 40px;
        width: 80%;
        top: 40px;
        padding: 18px 20px 18px 20px;
	letter-spacing: 5px;
	text-align: right;
	width: 400px;
	}

#faqs .content br { 
	margin-bottom: 0px;
	align-content: right;
	}

#faqs .question1 {
	background-color: #992727;
	padding: 0px 21px 0px;
	height: 60px;
	width: 423px;
	margin-top: -160px;
	margin-left: 190px;
	position: absolute;

}
#faqs .question1 p { 
	color: #ffffff;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
	}
#faqs .answer1 {
	border: 1px solid black;
	padding: 0px 20px 0px;
	width: 420px;
	margin-top: -80px;
	margin-left: 190px;
	position: absolute;
}

#faqs .question2 {
	background-color: #992727;
	padding: 0px 21px 0px;
	height: 60px;
	width: 423px;
	margin-top: -5px;
	margin-left: 665px;
	position: absolute;
	
}
#faqs .question2 p { 
	color: #ffffff;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
	}
#faqs .answer2 {
	border: 1px solid black;
	padding: 0px 20px 0px;
	width: 400px;
	margin-top: 70px;
	margin-left: 665px;
	position: absolute;
}

#faqs .question3 {
	background-color: #992727;
	padding: 0px 21px 0px;
	height: 60px;
	width: 423px;
	margin-top: 155px;
	margin-left: 190px;
	position: absolute;
}
#faqs .question3 p { 
	color: #ffffff;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
	}
#faqs .answer3 {
	border: 1px solid black;
	padding: 0px 20px 0px;
	width: 400px;
	margin-top: 235px;
	margin-left: 190px;
	position: absolute;
}

#faqs .question4 {
	background-color: #992727;
	padding: 0px 21px 0px;
	height: 60px;
	width: 423px;
	margin-top: 80px;
	margin-left: 665px;
	position: absolute;
	
}
#faqs .question4 p { 
	color: #ffffff;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
	}
#faqs .answer4 {
	border: 1px solid black;
	padding: 0px 20px 0px;
	width: 400px;
	margin-top: 155px;
	margin-left: 665px;
	position: absolute;
}

#faqs .question5 {
	background-color: #992727;
	padding: 0px 21px 0px;
	height: 60px;
	width: 423px;
	margin-top: 235px;
	margin-left: 190px;
	position: absolute;
}
#faqs .question5 p { 
	color: #ffffff;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
	}
#faqs .answer5 {
	border: 1px solid black;
	padding: 0px 20px 0px;
	width: 400px;
	margin-top: 310px;
	margin-left: 190px;
	position: absolute;
}
#faqs .question6 {
	background-color: #992727;
	padding: 0px 21px 0px;
	height: 60px;
	width: 423px;
	margin-top: 395px;
	margin-left: 665px;
	position: absolute;
	
}
#faqs .question6 p { 
	color: #ffffff;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: 1px;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
	}
#faqs .answer6 {
	border: 1px solid black;
	padding: 0px 20px 0px;
	width: 400px;
	margin-top: 470px;
	margin-left: 665px;
	position: absolute;
}
#faqs p { 
	color: #278599;
	font-family: 'Mosk', sans-serif;
	font-weight: 600;
	font-size: 16;
	text-align: justify;
	width: 270px;
	word-wrap: break-word;
}
