html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100% !important;

}
nav {
	background-color: #278599;
	width: 100%;
	text-align: center;
	border-bottom: 5px solid #fff;
	position: fixed;
	z-index: 9;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	display: inline-block;
}
nav a {
	color: #000;
	text-decoration: none;
	font-family: 'Mosk', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0 15px;
	letter-spacing: 2px;
}
nav a:hover, nav a.active {
	color: #fff;
}
nav a img#nav-logo {
	height: 48px;
	vertical-align: middle;
	margin-right: 30px;
}
nav li.icon {
	display: none;
}
header { 
	background-image: url(images/header.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 25%;
}
header img#main-logo {
	margin: 75px auto 0 auto;
	width: 75%;
	max-width: 75px;
}
header .content { 
	text-align: center; 
}
header {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Mosk', sans-serif;
	color: #3C404A;
	margin: 30px auto 0 auto;
	letter-spacing: 5px;
}
#reg {
	
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-color:#C0C0C0;

	margin: 0 auto;
}
#reg .content { 
	overflow: auto;
}
#reg h1 {
	font-family: 'Mosk', sans-serif;
	color: #000000;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 3px;
	margin-top: 100px;
	
}

#reg .content {
	
	padding: 80px 0 0 0;
	

}
#reg .border1 {
	border: 6px solid #006699;
	padding: 20px 30px;
	width: 280px;
}

}
#reg p { 
	color: #787B8C;
	font-family: 'Mosk', sans-serif;
	font-weight: 500;
	text-align: justify;
	line-height: 22px;
	width: 270px;
	font-size:55px;
}
#reg h2 {
	font-family: 'Mosk', sans-serif;
	font-size: 28px;
	color: #18A8F5;
	font-weight: 500;
	text-transform:uppercase;
	margin: 0 0 20px 80px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right:100px;
	background-color:#FFFFFF;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #18A8F5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset] {
    width: 50%;
    background-color: #18A8F5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#reg h2 span {
	color: #29869A;
}
#reg .left { 
	float: left;
	width: 368px;
	margin-left:100px;
}
#reg .right {
	align:right;
	margin: 80px 0 0 50px;
	width: 590px;
}

}
#reg .right form.a {
	border: 5px solid #B8C1C9;
	border-left: none;
	float: right;
	margin: 52px 0 0 0;
	padding: 10px;
	width: 260px;
}

	#reg .content .left {
	
		float: left;
	}
	#reg h1 {
		text-align: center;

	}
	#reg .content .right {
		margin:auto;
		float: right;
	}
	#reg .content .right h2 {
		margin: 50px 0 10px 0 ;
		float:right;

	}
	#reg .right p.a {
		margin: 100px 0 0 0;
	}
	#reg .right p.b {
		margin: 75px 0 0 5px;
	}
	
	
}
@media screen and (max-width: 840px) {
	nav {
		border: none;
	}
	ul.topnav { 
		text-align: left; 
		padding: 0;
		margin: 0;
	}
	ul.topnav li:not(:first-child) {
		display: none;
	}
	ul.topnav li:first-child {
		float: left;
		display: block;
		margin: 0;
		padding: 10px 0;
	}
	ul.topnav li.icon {
		display: block;
		float: right;
		padding: 20px 0;
	}
	ul.topnav.responsive { 
		margin: 0;
		padding: 0;
		position: relative; 
	}
	ul.topnav.responsive li.icon {
		float: right;
		position: absolute;
		top: 0;
		right: 0;
	}
  ul.topnav.responsive li {
    float: none;
    display: block;
    margin-bottom: 20px;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 620px) {

}